body {
  background-color: #eeeeee;
  margin: 0px;
  padding: 0;
  width: 100%;
}

.container {
  background-color: #222831;
  width: 1200px;
  height: 400px;
  margin-top: 110px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.results {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  top: 280px;
  margin: auto;
  text-align: center;
}

.results p {
  position: relative;
  font-size: 24px;
  font-family: "Roboto";
  color: white;
  text-align: center;
}

#finalScore {
  width: 300px;
  height: 60px;
  margin: auto;
  box-shadow: 2px 5px 0px 0px #222831;
  margin-top: 320px;
  border-radius: 10px;
  background-color: #d2d2d2;
}

.displays {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  top: 300px;
  z-index: 1;
}

.display-player {
  background-color: #d2d2d2;
  height: 130px;
  width: 130px;
  border-radius: 10%;
  border: solid 1px #d2d2d2;
  text-align: center;
  line-height: 60px;
  position: absolute;
  left: 300px;
  top: -160px;
}

.display-computer {
  background-color: #d2d2d2;
  height: 130px;
  width: 130px;
  border-radius: 10%;
  border: solid 1px #d2d2d2;
  text-align: center;
  line-height: 60px;
  position: absolute;
  right: 300px;
  top: -160px;
}

.p-display {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 40px;
}

.options {
  position: absolute;
  width: 309px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
}

#rock,
#paper,
#scissors {
  cursor: pointer;
  width: 100px;
  background-color: transparent;
  outline: none;
  border: none;
}

.winner {
  font-size: 30px;
  font-family: "roboto";
  text-align: center;
  position: relative;
  margin-top: -10px;
  font-weight: bold;
  color: black;
}

.hidden {
  display: none;
}

.start-message {
  font-size: 25px;
  font-family: "roboto";
  font-weight: default;
  color: white;
  text-align: center;
  position: relative;
  top: 20px;
}

.display-name-p {
  width: 150px;
  height: 50px;
  background-color: #ff502f;
  top: -170px;
  left: 292px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
}

.display-name-c {
  width: 150px;
  height: 50px;
  background-color: #ff502f;
  top: -170px;
  right: 292px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
}

.display-name-p p,
.display-name-c p {
  font-size: 16px;
  font-family: "roboto";
  text-align: center;
  font-weight: bolder;
  line-height: 20px;
  color: black;
}

.round {
  width: 170px;
  height: 62px;
  background-color: #ff502f;
  left: 0px;
  top: -280px;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  box-shadow: 2px 5px 0px 0px #222831;
}

h1 {
  font-family: "roboto";
  text-transform: uppercase;
  color: #232020;
  font-size: 40px;
  text-align: center;
  margin-bottom: -80px;
  line-height: 60px;
}

.placeholder {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  color: black;
}

.board {
  width: 50px;
  height: 50px;
  background-color: #d2d2d2;
  border-radius: 10px;
  position: absolute;
  right: 6px;
  top: 6px;
  text-align: center;
}

.round p {
  font-size: 24px;
  font-family: "roboto";
  font-weight: 400;
  margin-left: 18px;
  line-height: 14px;
}

.board p {
  font-size: 30px;
  line-height: 0px;
  margin-left: 2px;
  margin-top: 26px;
}

.trophy {
  position: relative;
  margin-left: 60px;
  margin-top: -220px;
}

.playAgain {
  width: 180px;
  height: 60px;
  background-color: #dea60b;
  border-radius: 10px;
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 26px;
  font-family: "roboto";
  color: white;
  box-shadow: 2px 5px 0px 0px #283436;
  outline: none;
}

.playAgain:hover {
  background-color: rgb(235, 175, 12);
  transform: scale(1.02);
  cursor: pointer;
}

.point-animation {
  transform: scale(1.03);
}

.rock-hover {
  size: 50%;
}

.player-big-hand {
  width: 240px;
  position: absolute;
  left: 65px;
  top: 70px;
}

.computer-big-hand {
  width: 240px;
  position: absolute;
  right: 65px;
  top: 70px;
  transform: scaleX(-1);
}

.player-board {
  position: absolute;
  width: 320px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 20px;
  left: 45px;
  top: 40px;
}

.computer-board {
  position: absolute;
  width: 320px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 20px;
  right: 45px;
  top: 40px;
}

.point {
  background-color: #80ed99;
}

.lose {
  background-color: #fe9079;
}

.btn-click {
    width: 100px;
}